/* src/FooterPage.css */
.footer {
    background-color: #343a40;
    color: white;
    padding: 1rem;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #ff5722;
  }
  
  .footer h5 {
    margin-bottom: 20px;
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .footer i {
    margin-right: 10px;
  }
  